<% provide(:title, "About")%>
<h1>About</h1>
<p>
  The <a href="https://radiant-harbor-89014.herokuapp.com"><em>Medical API
  </em></a>, part of the <a href="https://www.sbs-infosys.co.jp">SBS Information System
  </a>, This is a prototype application for recording medical data.
</p>
