<div class="center jumbotron">
  <h1>Welcome to the Medical API</h1>
  <h2>
    This is the home page for the
    <a href="https://radiant-harbor-89014.herokuapp.com">Medical API</a> Application.
  </h2>
  <%= link_to "申し込む", signup_path, class: "btn btn-lg btn-primary" %>
</div>
