<div class="center jumbotron">
  <h1>Welcome to the MARCS</h1>
  <h2>
    This is the home page for the
    <a href="https://radiant-harbor-89014.herokuapp.com">Medical Application Recording Control System</a>.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
