<footer class="footer">
  <small>
    The Medical API by<%= image_tag("sbs_logo.png", alt: "sbs logo", size: "80x20", id:"sbs_logo")%>
  </small>
  <nav>
    <ul>
      <small>
        <li><%= link_to "連絡先", about_path %></li>
      </small>
    </ul>
  </nav>
</footer>
